<header class="mb-5">
    <nav class="navbar is-primary has-shadow">
        <a href="/" class="navbar-item">ChatGPT Prompt Battles</a>
        <hr class="navbar-divider">
        {{#if user}}
            <a href="/logout" class="navbar-item">Log Out</a>
            <a href="/profile" class="navbar-item">Profile</a>
            <a href="/create" class="navbar-item"> Create</a>
            <a href="/challs" class="navbar-item">Challenges</a>
        {{else}}
            <a href="/login" class="navbar-item">Log In</a>
        {{/if}}
    </nav>
</header>