<!DOCTYPE html>
<html lang="en">

<head>
    {{> head_meta}}
    <title>Global Challenges</title>
</head>

<body>
    {{> header}}
    <h1>Global Challenges</h1>
    <table class="table" id="challs">
        <thead>
            <tr>
                <th onclick="sortTable(0, 'challs')">Challenge Name</th>
                <th onclick="sortTable(1, 'challs')">Author</th>
                <th onclick="sortTable(2, 'challs')">Solves</th>
            </tr>
        </thead>
        <tbody>
            {{#each challs}}
                <tr>
                    <td><a href="/challs/{{this.challenge_id}}">{{this.challenge_name}}</a></td>
                    <td>{{this.author_name}}</td>
                    <td>{{this.solves_count}}</td>
                </tr>
            {{/each}}
        </tbody>
</body>
<script>
    // Sort by solves descending
    sortTable(2, 'challs');
    sortTable(2, 'challs'); 
</script>

</html>