<!DOCTYPE html>
<html lang="en">

<head>
    {{> head_meta}}
    <title>Create a Challenge</title>
</head>

<body>
    {{> header}}
    <section>
        {{#if error}}
            <div class="notification is-danger" style="width: 80%">
                <button class="delete" onclick="this.parentElement.style.display='none';"></button>
                <p>Error: {{error}}</p>
            </div>
        {{/if}}
        <h1 class="title is-2">Create a Challenge</h1>
        <h2 class="subtitle">Create a prompt to try and protect a randomized password from prompt injection.</h2>
        <form action="/create" method="post">
            <div class="column is-10 center">
                <label for="name">Challenge Name</label>
                <input type="text" name="name" placeholder="Challenge Name"
                    class="input is-rounded is-normal is-small-width">
                <br />
                <br />
                <label for="prompt">Prompt</label>
                <textarea name="prompt" placeholder="Prompt..." class="textarea is-small-width"></textarea>
                <br />
                <input type="submit" value="Create" class="button is-primary is-medium">
            </div>
        </form>
    </section>
</body>

</html>