<!DOCTYPE html>
<html lang="en">
<head>
    {{> head_meta}}
    <title>ChatGPT Prompt Battles</title>
</head>
<body>
    <h1>ChatGPT Prompt Battles</h1>
    <p>ChatGPT Prompt Battles is a game centered around LLM prompt injection with ChatGPT.</p>
    <p>Create prompts to try and trick ChatGPT into revealing sensitive information (a password).</p>
    <p>Additionally, try and create your own prompts to defend against other attacking users.</p>

    <button><a href="/login">Login to Play</a></button>
    
</body>
</html>